:root {
  --bg-color: #faf3eb;
  --text-color: #3b3852;
  --link-color: #443653;
  --border-color: #cecacd;
  --highlight-bg: #f4ede8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #191724;
    --text-color: #e0def4;
    --link-color: #d1bbec;
    --border-color: #524f67;
    --highlight-bg: #21202e;
  }
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font: 0.9rem/1.6 sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  letter-spacing: 0.04rem;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

h1, h2, article tr:first-child {
  font-weight: 600;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

input[type="color"] {
  padding: 0;
  border: 3px solid var(--border-color);
  cursor: pointer;
}

select {
  background-color: var(--highlight-bg);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 3px 0px 3px 5px;
}

.dmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 0.8rem monospace;
}

.dmenu span {
  padding: 2px 8px;
}

.responsive-table {
  overflow-x: scroll;
}

table.i3-windows {
  width: 100%;
}

table.i3-windows td {
  text-align: center;
  padding: 5px 10px;
}

td#window {
  border-top: 0;
  padding: 15px 10px;
}

td:not(main td) {
  border-width: 3px;
  border-style: solid;
}

main {
  padding: 0 20px;
}

details {
  margin-top: 1rem;
  border: 3px solid var(--border-color);
  background-color: var(--highlight-bg);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  max-width: 13rem;
}

summary {
  cursor: pointer;
}

ul {
  padding: 0 1rem;
}

li {
  padding: 0.5rem 0;
}

section.i3-colors {
  float: left;
  width: 50%;
}

section.codes {
  float: right;
  width: 50%;
}

select, summary, article td{
  font-weight: 500;
}

article td {
  padding: 5px 7px;
}

pre {
  padding: 0 20px;
  font: 0.8rem monospace;
  border-radius: 5px;
  background-color: var(--highlight-bg);
  overflow-x: scroll;
}

.i3status .workspaces span {
  border-width: 2px;
  border-style: solid;
  padding: 0 3px;
}

.i3status {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  section.i3-colors, section.codes {
    width: 100%;
  }
}
