:root {
  --bg-color: #faf3eb;
  --text-color: #3b3852;
  --link-color: #443653;
  --border-color: #cecacd;
  --code-bg: #f4ede8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #191724;
    --text-color: #e0def4;
    --link-color: #d1bbec;
    --border-color: #524f67;
    --code-bg: #21202e;
  }
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  letter-spacing: 0.04rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link-color);
}

input[type="color"] {
  padding: 0;
  border: 3px solid var(--border-color);
  cursor: pointer;
}

.dmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
}

.dmenu span {
  padding: 2px 8px;
}

.responsive-table {
  overflow-x: scroll;
}

table.i3-windows {
  width: 100%;
}

table.i3-windows td {
  text-align: center;
  padding: 5px 10px;
}

td#window {
  border-top: 0;
  padding: 15px 10px;
}

td:not(main td) {
  border-width: 3px;
  border-style: solid;
}

main {
  padding: 0 20px;
}

section.i3-colors {
  float: left;
  width: 50%;
}

section.codes {
  float: right;
  width: 50%;
}

section.references {
  clear: both;
  text-align: center;
  padding: 20px 0;
}

article tr:first-child {
  font-weight: 700;
}

article td {
  padding: 5px 7px;
}

pre {
  padding: 0 20px;
  border-radius: 5px;
  background-color: var(--code-bg);
  overflow-x: scroll;
}

.i3status .workspaces span {
  border-width: 2px;
  border-style: solid;
  padding: 0 3px;
}

.i3status {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  section.i3-colors, section.codes {
    width: 100%;
  }
}
